@using SchoolWebsite.Models;
@model List<Group>

@{
    Layout = "_Layout";
}

<h1 class="text-center mt-4">Groups</h1>

<div class="container-fluid mt-4">
    <img style="width: 100%; height: 350px" src="https://images.squarespace-cdn.com/content/v1/5873c669d2b8570ebec7d5ed/1487631598709-FFLZUUTI7EGNOK3CXQIO/School+Group+Packages.jpg?format=2500w"></img>
</div>

<div class="container-fluid">
@foreach (Group group in Model)
{
    <div class="jumbotron mt-5">
    <h1 class="display-4">@group.GroupName</h1>
    <p class="lead">@group.Description</p>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>
}
</div>
